.nav{
    display: flex;
    grid-area: n;
    color: #bfbfbf ;
    width: 100%;
    height: 100%;
    background-color: #303030;
}

.nav__text{
    margin: 0 auto;
}

.item{
    margin-top: 10px;
}

.item a{
    
    color: azure;
}


